@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;1,700&display=swap');
body {
    font-family: 'Charis SIL', serif;
    font-weight:300 !important;
    font-style: italic;
    margin:0px;

    }

body h1 {
    font-weight : 300;
    margin : 0px

}   
#main-header {
    border: 1px dotted #000; 
    width:1000px;
    margin:auto;
}
body article {
    max-width:33%;
    display: inline-block;

    }
a {
    text-decoration: line-through underline overline;
}
p {
    letter-spacing: 2px;
    word-spacing: 2px;
}